@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-custom {
        @apply rounded-md px-4 py-2 bg-pr text-white font-semibold
    }
}

* {
    box-sizing: border-box;
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.is-visible {
    opacity: 1;
}